builds/build_ver-Mon_Oct_24_2016_17_17_10/members.html
<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Состав</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=1200">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">


        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="&nbsp;" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <svg xmlns="http://www.w3.org/2000/svg" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;"
        class="root-svg-symbols-element">
            <symbol id="arrow" viewBox="0 0 32 32">
                <path d="M32 14H7.6L18.8 2.8 16 0 0 16l16 16 2.8-2.8L7.6 18H32v-4z" />
            </symbol>
            <symbol id="attachments" viewBox="-8 0 32 32">
                <path d="M13.8 7.3V24c0 3.2-2.6 5.8-5.8 5.8S2.2 27.2 2.2 24V5.8c0-2 1.6-3.6 3.6-3.6s3.6 1.6 3.6 3.6v15.3c0 .7-.6 1.5-1.5 1.5s-1.5-.7-1.5-1.5V7.3h-2v13.8c0 2 1.6 3.6 3.6 3.6s3.6-1.6 3.6-3.6V5.8C11.6 2.6 9 0 5.8 0S0 2.6 0 5.8V24c0 4.4 3.6 8 8 8s8-3.6 8-8V7.3h-2.2z"
                />
            </symbol>
            <symbol id="close" viewBox="0 0 32 32">
                <path d="M32 3.2L28.8 0 16 12.8 3.2 0 0 3.2 12.8 16 0 28.8 3.2 32 16 19.2 28.8 32l3.2-3.2L19.2 16 32 3.2z" />
            </symbol>
            <symbol id="facebook" viewBox="0 0 32 32">
                <path d="M11.8 31.333h5.6V16h4.2l.8-4.867h-5V7.666c0-1.133.8-2.333 1.8-2.333H22V.666h-3.6c-5.533.267-6.533 3.467-6.667 6.8v3.867h-2.8V16h2.8v15.333h.067z" />
            </symbol>
            <symbol id="mail" viewBox="0 0 32 32">
                <path d="M8.081 9.501h15.337V8.324H8.081z" />
                <path d="M26.963 9.974V5.96A2.374 2.374 0 0 0 24.6 3.595h-4.84L15.749.055l-4.011 3.54h-4.84A2.374 2.374 0 0 0 4.535 5.96v4.014L.998 13.048v16.533a2.371 2.371 0 0 0 2.363 2.365h24.774a2.371 2.371 0 0 0 2.363-2.365V13.048l-3.537-3.074zm0 1.54l1.768 1.534-1.768 1.534v-3.068zM15.75 1.588l2.242 2.006h-4.605l2.363-2.006zM5.718 5.96c0-.709.473-1.182 1.181-1.182h17.7c.587 0 1.181.595 1.181 1.182v9.567L22 18.954H9.498l-3.78-3.31V5.961zm12.395 16.533h-4.726l-2.592-2.358h9.794l-2.477 2.358zM4.537 11.514v3.189l-1.768-1.655 1.768-1.534zM2.532 30.406c-.236-.238-.351-.474-.351-.825V14.23l9.437 8.263-9.086 7.913zm1.418.357l8.263-7.088h7.074l8.263 7.088H3.95zm25.369-8.858v7.675c0 .351-.115.588-.351.825l-9.086-7.913 9.437-8.263v7.675z"
                />
                <path d="M8.081 13.047h15.337v-1.182H8.081zm0 3.541h15.337v-1.182H8.081z" />
            </symbol>
            <symbol id="paper" viewBox="0 0 32 32">
                <path d="M19.733 21.267L.2 13.2c-.133-.067-.2-.133-.2-.267-.067-.133 0-.267.133-.333C.333 12.4 5.8 7 7.4 5.933c.533-.4 1.2-.6 1.933-.6.867 0 1.533.333 1.733.4.333.133 4.733 1.8 9.2 3.467 2.267.867 4.6 1.733 6.333 2.4.867.333 1.533.6 2.067.8.333.133.533.2.667.267h.067c.333.133.267.2.267.4-.067.2-.267.333-.467.267s-1.267-.467-2.533 1c-2.133 2.4-6.4 6.8-6.467 6.867-.067.133-.2.133-.267.133-.067-.067-.133-.067-.2-.067zm.067-.8c.867-.867 4.4-4.533 6.267-6.6.533-.6 1-.933 1.467-1.133-3.467-1.333-11.8-4.533-16.733-6.467 0 0-.067 0-.067-.067 0 0-.6-.333-1.4-.333-.6 0-1.067.2-1.533.533-1.333 1-5.533 5-6.867 6.267l18.867 7.8z"
                />
                <path d="M22.067 26.867c-1 0-1.667-.667-1.933-1.4-.333-.867-.2-2 .6-2.333 2.667-1.133 4.4-2.467 5.6-3.467 1.2-1.067 1.733-2.133 1.933-2.667l-3.333-1.067c-.2-.067-.267-.267-.2-.467s.267-.267.467-.2l3.733 1.2c.2.067.267.267.267.467 0 .067-.4 1.8-2.267 3.4-1.267 1.067-3 2.467-5.8 3.667-.467-.067-.533.6-.267 1.2.133.333.667 1.333 2.133.733 1.733-.667 5.4-3.733 7.067-6.2 1.267-1.867 1.533-3.533.733-5.067-.733-1.467-2.533-1.4-2.533-1.4-.2 0-.333-.133-.4-.333 0-.2.133-.333.333-.4.133 0 2.267-.133 3.267 1.8.933 1.8.667 3.733-.733 5.867-1.6 2.333-5.4 5.667-7.4 6.467-.533.133-.933.2-1.267.2z"
                />
                <path d="M21.867 26.867c-.067 0-.067 0-.133-.067-2-.733-19.6-7.267-20.533-8.133-.8-.667-.933-1.4-.867-1.933.067-.733.467-1.333.867-1.533.333-.2 2.067-1.4 2.067-1.4l.4.6s-1.733 1.133-2.067 1.4c-.2.133-.533.533-.533 1-.067.467.2.933.6 1.333.667.6 12.533 5.067 20.333 8 .2.067.267.267.2.467s-.2.267-.333.267zM20.6 17.4c-.067 0-.133 0-.133-.067l-7.933-3.2c-.2-.067-.267-.267-.2-.467s.267-.267.467-.2l7.933 3.2c.2.067.267.267.2.467s-.2.267-.333.267zm2.4-2.533c-.067 0-.067 0-.133-.067l-8-3.133c-.2-.067-.267-.267-.2-.467s.267-.267.467-.2l8 3.133c.2.067.267.267.2.467s-.2.267-.333.267zm-12.933-.6l-5.133-2c-.133-.067-.2-.133-.2-.267-.067-.133 0-.267.133-.333l4.333-4.2c.133-.133.267-.133.4-.067l5.2 2.133c.133.067.2.133.2.267.067.133 0 .267-.133.333l-4.333 4.133c-.133.067-.2.067-.267.067-.067-.067-.133-.067-.2-.067zm.066-.8l3.8-3.6-4.467-1.8-3.733 3.667 4.4 1.733z"
                />
            </symbol>
            <symbol id="pdf" viewBox="0 0 32 32">
                <path d="M3.533 0C1.666 0 0 1.533 0 3.533V28.4c0 2 1.667 3.533 3.533 3.533H28.4c1.867 0 3.533-1.533 3.533-3.533V3.533c0-2-1.667-3.533-3.533-3.533H3.533zm21.334 21.333c-1.4 0-3.533-.333-5.333-1.2-2.933.333-5.333.733-7.133 1.4-.133 0-.133 0-.333.133-2.133 3.8-3.933 5.6-5.333 5.6-.333 0-.6 0-.733-.267l-.933-.6v-.133c-.133-.333-.133-.6-.133-.933.133-.933 1.2-2.467 3.333-3.8.333-.133.933-.6 1.667-.933.6-.933 1.067-1.867 1.8-3.2.933-1.8 1.4-3.533 1.867-5.067C12.87 10.2 12.536 9 13.27 6.4c.133-.733.733-1.4 1.4-1.4h.333c.333 0 .733.267 1.067.333 1.333 1.2.733 4 0 6.4V12c.733 1.867 1.8 3.533 2.867 4.6.6.333.933.733 1.667 1.067.933 0 1.667-.267 2.4-.267 2.133 0 3.533.333 4 1.333.267.333.267.733.267 1.067-.267.267-.333.733-.733 1.067-.467.2-.933.467-1.667.467zm-16.334 1.4C7.2 23.8 6.4 25.133 6.133 25.6c1.067-.133 2.133-1.2 3.2-3.333.133 0 .133 0 0 0a3.154 3.154 0 0 0-.8.467zM22.4 18.867h-.333V19c1.2.6 2.467.933 3.467.933H26V19.8s-.133 0-.133-.267c-.267-.2-1-.667-3.467-.667zm-7.6-8.934c.133-.733.333-1.067.333-1.667v-.267c.133-.933.133-1.533 0-1.8v-.267l-.267-.133s0 .133-.133.133c-.4 1.2-.4 2.333.067 4 .133 0 .133 0 0 0zM14.933 14c.733 1.667 1.8 3.067 2.733 4.133.133.267.333.333.733.6-1.4.267-3.533.733-5.933 1.533h-.333c.333-.733.733-1.2 1.067-1.867.667-1.667 1.4-3.133 1.733-4.4z"
                />
            </symbol>
            <symbol id="star" viewBox="0 0 32 32">
                <path d="M20.467 14.333c.067.133.133.267.133.467l9.667 1.267-9.667 1.267c-.067.133-.067.267-.133.467L31.8 16.268c.067 0 .2-.067.2-.2s-.067-.2-.2-.2l-11.333-1.533zm-9 .467c.067-.133.067-.267.133-.467L.2 15.866c-.133 0-.2.133-.2.2 0 .133.067.2.2.2l11.333 1.533c-.067-.133-.133-.267-.133-.467l-9.533-1.267 9.6-1.267zm6.266 5.733c-.133.067-.267.133-.467.133l-1.267 9.667-1.267-9.733c-.133-.067-.267-.067-.467-.133l1.533 11.4c0 .067.067.2.2.2s.2-.067.2-.2l1.533-11.333zm-3.4-8.933c.133-.067.267-.133.467-.133L16 1.8l1.267 9.733c.133.067.267.067.467.133L16.201.266c0-.067-.067-.2-.2-.2s-.2.067-.2.2l-1.467 11.333zm6 6.533l-.2.4 2 3.6-3.6-2a3.24 3.24 0 0 1-.467.2l4.467 2.467c.067.067.133.067.2 0 .133-.067.133-.2.067-.267l-2.467-4.4zm-8.6-4.066l.2-.4-2-3.6 3.6 2 .4-.2L9.466 9.4c-.067-.067-.133-.067-.2 0s-.133.2-.067.267l2.533 4.4zm6.334-2.334l.4.2 3.6-2-2 3.6.2.4 2.467-4.467c.067-.067.067-.133 0-.2s-.2-.133-.267-.067l-4.4 2.533zM9.6 22.8c-.067.067-.133.067-.2 0s-.133-.2-.067-.267l2.467-4.467.2.4-2 3.6 3.6-2c.133.067.267.133.467.267L9.6 22.8zm3.4-3.6c-.8-.8-1.267-1.867-1.267-3.067S12.2 13.866 13 13.066c.8-.8 1.867-1.267 3.067-1.267s2.267.467 3.067 1.267c.8.8 1.267 1.867 1.267 3.067s-.467 2.267-1.267 3.067c-.8.8-1.867 1.267-3.067 1.267S13.8 19.934 13 19.2zm3 .867c1.067 0 2.067-.467 2.8-1.133.733-.733 1.133-1.667 1.133-2.8 0-1.067-.467-2.067-1.133-2.8-.733-.733-1.667-1.133-2.8-1.133s-2.067.467-2.8 1.133c-.733.733-1.133 1.667-1.133 2.8 0 1.067.467 2.067 1.133 2.8.8.667 1.8 1.133 2.8 1.133z"
                />
                <path d="M17.6 15.133l1.467 2.467c.067.067 0 .2-.067.267h-5.866c-.133 0-.2-.067-.2-.2 0-.067 0-.067.067-.133l2.8-4.933c.067-.067.2-.133.267-.067.067 0 .067.067.067.067l1.467 2.533zm-.333.2L16 13.133l-1.267 2.133-1.267 2.2h5l-1.2-2.133z"
                />
            </symbol>
            <symbol id="twitter" viewBox="0 0 32 32">
                <path d="M30.6 3.867c-.933.533-2.933 1.467-4 1.467-1.067-1.2-2.8-2-4.533-2-3.6 0-6.4 2.933-6.4 6.4 0 .533.133.933.133 1.467C11 11.068 5.667 8.668 2.6 4.534c-2 3.333-.267 7.067 1.867 8.533-.8 0-2.133-.133-2.8-.667 0 2.267 1.067 5.2 4.933 6.267-.8.4-2.133.267-2.667.267.133 1.867 2.8 4.4 5.733 4.4-1.067 1.2-4.933 3.333-9.2 2.667 2.933 1.733 6.4 2.8 10 2.8 10.4 0 18.4-8.4 18-18.667v-.266c.933-.667 2.267-1.733 3.067-3.333-.533.267-2.133.8-3.6 1.067 1.067-.667 2.4-2.4 2.667-3.733z"
                />
            </symbol>
            <symbol id="vk" viewBox="0 0 32 32">
                <path d="M15.6 24.6h1.867s.6-.133.8-.4c.333-.333.333-.8.333-.8s0-2.467 1.133-2.867 2.667 2.467 4.2 3.533c1.133.8 2.067.6 2.067.6l4.2-.133s2.2-.133 1.133-1.867c-.133-.133-.6-1.267-3.067-3.6-2.667-2.467-2.267-2.067.933-6.267 1.933-2.6 2.667-4.133 2.467-4.867-.2-.6-1.667-.533-1.667-.533h-4.667s-.333 0-.6.133c-.2.133-.4.533-.4.533s-.733 2.2-1.733 3.8c-2.067 3.6-3 3.8-3.333 3.533-.8-.533-.6-2.067-.6-3.2 0-3.533.533-4.933-1-5.267-.533-.133-.8-.2-2.2-.2-1.667 0-3.067 0-3.933.4-.533.333-.933.8-.733.933.333 0 1 .2 1.333.733.533.6.533 2.067.533 2.067s.333 4.133-.6 4.533c-.6.4-1.533-.333-3.4-3.533-1-1.667-1.733-3.533-1.733-3.533s-.133-.4-.333-.6c-.333-.2-.733-.2-.733-.2h-4.6s-.733 0-.933.333 0 .8 0 .8 3.533 8.267 7.533 12.4c3.6 3.8 7.733 3.533 7.733 3.533z"
                />
            </symbol>
            <symbol id="word" viewBox="0 0 32 32">
                <path d="M3.533 0C1.666 0 0 1.667 0 3.533V28.4C0 30.333 1.667 32 3.533 32H28.4c1.867 0 3.533-1.667 3.533-3.533V3.534C32 1.667 30.333.001 28.466.001H3.533zm16 24.867L16 11.467l-3.533 13.4h-2.6l-4.4-17.733h3.067l2.733 13.4 3.533-13.4h2.533l3.533 13.4 2.6-13.4h3.067l-4.267 17.8h-2.733v-.067z"
                />
            </symbol>
        </svg>
        <section class="page__wrapper">
            <div class="page__header">
                <header class="header container" id="header" role="banner">
                    <div class="header__brand brand">
                        <a class="logo" href="/" title="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ">
                            <img class="logo__img" src="static/img/general/logo.svg" alt="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ" width="322px" height="51px">
                        </a>
                    </div>
                    <nav class="header__nav site-menu">
                        <ul class="nav --main">
                            <li class="nav__item"><a class="nav__link" href="news.html" title="Новости">Новости</a>
                            </li>
                            <li class="nav__item"><a class="nav__link" href="about.html" title="О совете">О совете</a>
                            </li>
                            <li class="nav__item"><a class="nav__link" href="members.html" title="Состав">Состав</a>
                            </li>
                            <li class="nav__item"><a class="nav__link" href="documents.html" title="Документы">Документы</a>
                            </li>
                        </ul>
                    </nav>
                </header>
            </div>
            <div class="page__content container">
                <div class="page__art">
                    <svg class="icon icon-star" width="345px" height="345px">
                        <use xlink:href="#star"></use>
                    </svg>

                </div>
                <div class="grid">
                    <div class="grid__row">
                        <main class="page__main grid__col grid__col-8" id="main" role="main"><b class="page__title title h1">Состав совета</b>
                            <div class="lead">
                                <p>В состав Совета входят представители Московской городской думы, органов исполнительной власти
                                    <br>г. Москвы, предприниматели, научные сотрудники и эксперты в области пожарной безопасности и представители СМИ.</p>
                            </div>
                        </main>
                        <aside class="sidebar grid__col grid__col-4" id="sidebar" role="complementary">
                            <div class="block callback-block --small bg-inverse">
                                <header class="block__header"><b class="block__title title h1">Обратная связь</b>
                                    <div class="block__content">
                                        <p>
                                            Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.

                                        </p>
                                    </div>
                                    <footer class="block__footer"><a class="btn btn-info getmodal" href="#callback">
                      Написать
                      </a>
                                    </footer>
                                </header>
                                <div class="block__art">
                                    <svg class="icon icon-mail" width="141" height="153">
                                        <use xlink:href="#mail"></use>
                                    </svg>

                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <nav class="tab-menu">
                    <ul class="nav">
                        <li class="nav__item is-active"><a class="nav__link" href="members.html" title="Списком">Списком</a>
                        </li>
                        <li class="nav__item is-disabled is-hidden"><a class="nav__link" href="#" title="На карте">На карте</a>
                        </li>
                    </ul>
                </nav>
                <div class="block members-block-list">
                    <header class="block__header"><b class="block__title title h3">Президиум</b>
                    </header>
                    <div class="block__content grid">
                        <div class="grid__row">
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_1.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Святенко Инна Юрьевна</b>
                                        <div class="member__text">
                                            <p>Председатель Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Депутат Мосгордумы, председатель Комиссии по безопасности. Доктор технических наук.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_2.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Елисеев Александр Михайлович</b>
                                        <div class="member__text">
                                            <p>Первый заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Начальник ГКУ ДПО УМЦ ГОЧС города Москвы. Председатель Совета Московского городского регионального отделения (МГРО) «Россоюзспас».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_3.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Бехтеев Виктор Михайлович</b>
                                        <div class="member__text">
                                            <p>Заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Президент Благотворительного фонда имени П.М. Третьякова (Третьяковская галерея). Заслуженный строитель России.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_4.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Нефедов Сергей Иванович</b>
                                        <div class="member__text">
                                            <p>Заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Пенсионер (Космический испытатель). Член Президиума Общероссийской общественной организации «Офицеры России». Герой Российской Федерации.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block members-block-list">
                    <header class="block__header"><b class="block__title title h3">Члены Совета</b>
                    </header>
                    <div class="block__content grid">
                        <div class="grid__row">
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_1.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Святенко Инна Юрьевна</b>
                                        <div class="member__text">
                                            <p>Председатель Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Депутат Мосгордумы, председатель Комиссии по безопасности. Доктор технических наук.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_2.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Елисеев Александр Михайлович</b>
                                        <div class="member__text">
                                            <p>Первый заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Начальник ГКУ ДПО УМЦ ГОЧС города Москвы. Председатель Совета Московского городского регионального отделения (МГРО) «Россоюзспас».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__row">
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_3.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Бехтеев Виктор Михайлович</b>
                                        <div class="member__text">
                                            <p>Заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Президент Благотворительного фонда имени П.М. Третьякова (Третьяковская галерея). Заслуженный строитель России.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid__col grid__col-6">
                                <div class="member --teaser-list">
                                    <figure class="member__img" width="80px" height="80px">
                                        <img class="img-lazy" data-original="static/img/assets/member/img_4.jpg" width="80px" height="80px">
                                    </figure>
                                    <div class="member__content"><b class="member__title title">Нефедов Сергей Иванович</b>
                                        <div class="member__text">
                                            <p>Заместитель председателя Общественного совета</p>
                                        </div>
                                        <div class="member__meta">
                                            <p>Пенсионер (Космический испытатель). Член Президиума Общероссийской общественной организации «Офицеры России». Герой Российской Федерации.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page__buffer"></div>
        </section>
        <div class="page__footer">
            <footer class="footer container" id="footer" role="complementary">
                <div class="footer__brand brand">
                    <a class="logo" href="/" title="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ">
                        <img class="logo__img" src="static/img/general/logo.svg" alt="Общественный Совет при ГУ МЧС и Департаменте ГОЧС и ПБ" width="322px" height="51px">
                    </a>
                </div>
                <nav class="footer__nav site-menu">
                    <ul class="nav --main">
                        <li class="nav__item"><a class="nav__link" href="news.html" title="Новости">Новости</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="about.html" title="О совете">О совете</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="members.html" title="Состав">Состав</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="documents.html" title="Документы">Документы</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>
        <script src="static/js/separate-js/jquery.min.js"></script>


        <script src="static/js/main.min.js"></script>
    </body>

</html>

markup/pages/members.pug
doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/sidebar/sidebar.pug
    include ../components/footer/footer.pug

    include ../components/block/block.pug
    include ../components/document/document.pug
    include ../components/org/org.pug
    include ../components/member/member.pug
    include ../components/news/news.pug
    include ../components/modal/modal.pug
    include ../components/ui/ui.pug

    head
        +head(head.composition)
    body.page
        |%=symbols=%

        section.page__wrapper
            div.page__header
                +header()
            div.page__content.container
                div.page__art
                    != pugHelpers.Icon.call(locals, {iconName: 'star', className: 'icon icon-star', iconWidth: '345px', iconHeight: '345px'})
                div.grid
                    div.grid__row
                        main.page__main.grid__col.grid__col-8(id="main", role="main")
                            b.page__title.title.h1.
                                Состав совета
                            div.lead
                                p.
                                    В состав Совета входят представители Московской городской думы, органов исполнительной власти <br>г. Москвы, предприниматели, научные сотрудники и эксперты в области пожарной безопасности и представители СМИ.
                        aside.sidebar.grid__col.grid__col-4(id="sidebar", role="complementary")
                            .block.callback-block.--small.bg-inverse
                                header.block__header
                                    b.block__title.title.h1.
                                        Обратная связь
                                    div.block__content
                                        p.
                                            Вы можете обратиться в общественный совет при ГУ МЧС и Департаменте ГОЧС и ПБ. Ответ вы получите по электронной почте в течение 30 дней.

                                    footer.block__footer
                                        a.btn.btn-info.getmodal(href="#callback").
                                            Написать

                                div.block__art
                                    != pugHelpers.Icon.call(locals, {iconName: 'mail', className: 'icon icon-mail', iconWidth: '141', iconHeight: '153'})

                nav.tab-menu
                    ul.nav
                        li.nav__item.is-active
                            a.nav__link(href="members.html", title="Списком").
                                Списком
                        li.nav__item.is-disabled.is-hidden
                            a.nav__link(href="#", title="На карте").
                                На карте
                div.block.members-block-list
                    header.block__header
                        b.block__title.title.h3.
                            Президиум
                    div.block__content.grid
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[0])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[1])
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[2])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[3])
                div.block.members-block-list
                    header.block__header
                        b.block__title.title.h3.
                            Члены Совета
                    div.block__content.grid
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[0])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[1])
                        div.grid__row
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[2])
                            div.grid__col.grid__col-6
                                +member('--teaser-list', member[3])

            .page__buffer

        .page__footer
            +footer()

        script(src='%=static=%js/separate-js/jquery.min.js')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
